<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".SettingsCoverActivity" android:exported="false" android:screenOrientation="landscape" />
        <provider android:name=".SettingsFixtureProvider" android:authorities="${applicationId}.settings-fixture" android:exported="false" />
        <service android:name=".SettingsProbeService" android:exported="false" android:process=":account" />
        <activity android:name=".PlaybackProbeActivity" android:exported="false" android:screenOrientation="landscape" />
    </application>
</manifest>
